h3{
    background-color: aquamarine;
}
p{
    /* text-decoration: aqua; */
    /* background-color: rebeccapurple; */
    /* text-transform: lowercase; */
    /* text-size-adjust: 100px; */
    text-align: center;
}
div{

    /* background-color: sienna; */
    /* border-radius: 10px; */
}
.faisal{
    font-family: 'Times New Roman', Times, serif;
    /* background-color: burlywood; */
    
}
#eid{
    /* margin: 30px 40px 60px; */
    background-color: 10px;
}